.notification
  %h5
    = notification.twitter_handle
    - if notification.promoted
      %i.fa.fa-star Promoted
  %small
    %i #{time_ago_in_words notification.original_date} ago
  %p= notification.body
