.row
  - if is_admin?
    .columns
      = link_to 'Create topic', new_topic_path
  .columns
    %header
      %h4 Topics you follow
    .topic-container
      - @user_topics.each do |topic|
        = render 'topic', topic: topic, user_follows: true

  .columns
    %header
      %h4 Suggested topics
    .topic-container
      - @suggested_topics.each do |topic|
        = render 'topic', topic: topic, user_follows: false

= content_for :local_js do
  :javascript
    var $container = $('.topic-container')
    $container.masonry({columnWidth: 275, itemSelector: '.topic'});
