.row
  - if is_admin?
    .columns
      = link_to 'Create topic', new_topic_path
  .columns
    %header
      %h4 Topics you follow
    .container
      - @user_topics.each do |topic|
        = render 'topic', topic: topic, user_follows: true

  .columns
    %header
      %h4 Suggested topics
    .container
      - @suggested_topics.promoted.each do |topic|
        = render 'topic', topic: topic, user_follows: false
      - @suggested_topics.not_promoted.each do |topic|
        = render 'topic', topic: topic, user_follows: false
