%h4= @topic.name.capitalize
%blockquote= @topic.description
#notifications
  - @notifications.each do |notification|
    =render 'notification', notification: notification

= content_for :local_js do
  :javascript
    var $container = $('#notifications')
    $container.masonry({columnWidth: 275, itemSelector: '.notification'});
